
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>This is Parent</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
   
    <button type="button" class="btn btn-primary">Warning</button>
    <button type="button" class="btn btn-success">Danger</button>
  
    
    <h1>Sweety is a good girl</h1>

    <h1> Ashhu is a good girl</h1>

            
    {% block body_block %}
    {% endblock %}

   



    <script src="{% static 'js/mdb.min.js' %}"></script>

</body>
</html>